/**
 * CONTEXTS
 */
.curtain.context-menu {
    position: absolute;
}
.curtain.context-menu-left {
    left: 0;
}
.curtain.context-menu-right {
    right: 0;
}
/**
 * PANELS
 */
/* The side navigation menu */
.curtain.side-panel {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the side-panel */
}
.curtain.side-panel::-webkit-scrollbar {
    display: none;
}
.curtain.side-panel-left {
    left: 0;
}
.curtain.side-panel-right {
    right: 0;
}

/* The navigation menu links */
.curtain.side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.curtain.side-panel a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.curtain.side-panel .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}
.curtain.side-panel-left .closebtn {
    right: 25px;
    margin-left: 50px;
}
.curtain.side-panel-right .closebtn {
    left: 25px;
    margin-right: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the side-panel (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {*/
    /*.curtain.side-panel {padding-top: 15px;}*/
    /*.curtain.side-panel a {font-size: 18px;}*/
/*}*/
